* {
   font-size: 25px;
}
.box1{
    background-color: red;
    border: 10px solid #ffff00;
    padding: 20px;
    margin: 15px;
    height: 100px;
    width: 150px;
}

.box2{
    background-color: blue;
    border: 10px solid violet;
    padding: 20px;
    margin: 15px;
    height: 300px;
    width: 150px;
}